# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Environnements virtuels
# =========================
venv/
.venv/
env/
.virtualenv/

# =========================
# Cache & outils
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# Fichiers système
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Fichiers secrets
# =========================
.env
.env.*
*.key
*.pem

# =========================
# Build / dist
# =========================
build/
dist/
*.egg-info/